@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

.MuiDataGrid-columnHeader {
  @apply bg-orange-500 dark:bg-orange-400 text-sm font-semibold font-Poppins text-white;
}

.MuiDataGrid-columnHeader .MuiDataGrid-checkboxInput{
  @apply text-white
}
.MuiDataGrid-footerContainer{
  @apply dark:text-white text-sm font-Poppins
}

.ps-sidebar-container{
  @apply bg-white dark:bg-slate-600
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.hero_animation {
  background-image: linear-gradient(
    147.92deg,
    hsla(239, 76%, 53%, 0.456) 10.41%,
    hsla(0, 0%, 100%, 0) 89.25%
  );
  animation: changeBackgroundColor 8s infinite alternate;
}
@keyframes changeBackgroundColor {
  0%,
  100% {
    opacity: 1;
  }
  16.67% {
    opacity: 0.9;
  }
  33.33% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  66.67% {
    opacity: 0.5;
  }
  83.33% {
    opacity: 0.4;
  }
}

.shake{
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-2px);
  }
  40%{
    transform: translateX(2px);
  }
  60%{
    transform: translateX(-2px);
  }
  80%{
    transform: translateX(2px);
  }
  100%{
    transform: translateX(0);
  }
}

.css-16jesut >.ps-menu-button:hover,.css-1tqrhto >.ps-menu-button:hover , .css-1t8x7v1 >.ps-menu-button:hover{
  background-color: transparent !important;
}
.css-1t8x7v1 >.ps-menu-button{
  height: 45px !important;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fb923c; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffa358; 
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in.active {
  opacity: 1;
}